@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @RenderSection("Scripts", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav navbar-brand">

                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (@Context.Session.GetString("FN") == null)
                    {

                        <li><a asp-area="" asp-controller="Home" asp-action="Register" class="navbar-right">Register</a></li>
                }
                        @if (@Context.Session.GetString("FN") == null)
                    {

                        <li><a asp-area="" asp-controller="Home" asp-action="LogIn" >Log In</a></li>
                }
                        @if (@Context.Session.GetString("FN") != null)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Logout" class="navbar-right">Log Out</a></li>
                }


                    </ul>
                    @if (@Context.Session.GetString("FN") != null || @Context.Session.GetString("LN") != null)
                {
                    <div class="text-right">

                        <a> Welcome @Context.Session.GetString("FN") @Context.Session.GetString("LN") </a>
                    </div>
            }

                </div>
            </div>
        </nav>
    </header>

    <div class="body-content container">
        @RenderBody()

        <div class="row">
            <hr />
            <footer>
                <p>&copy; 2018 - Ass1</p>
                <p> Franck Lionel </p>
                <p> Nana Ngassa </p>
                <p>nana0006@algonquinlive.com</p>
                <p>040 783 398</p>
            </footer>
        </div>
    </div>



</body>
</html>
